<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body  style="color : violet; background-image: /back-ground.jpg;">
	<h1> Welcome to Home Page</h1>
	{% block content%}
	<div class ='container'>
		<a href='/contact.html'>contact</a>
		<a href='/about.html'>about</a>
		<p>
		There are several types of computers but only some of them are certainly preferred.In this site you can search for any branded computer or laptop that is highly preferred.
    </p>
	</div>
	{%endblock content%}
</body>
</html>